---
import Logo from "@/assets/Logo.svg";
import { IoMdCart } from "react-icons/io";
---

<div
    class="relative flex flex-col lg:flex-row justify-between gap-6 items-center p-4"
>
    <Logo width={200} />
    <nav>
        <ul class="flex gap-4 items-center mb-4">
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/products">Productos</a>
            </li>
            <li>
                <a href="/contact">Contacto</a>
            </li>
        </ul>
    </nav>
    <span
        class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white p-4 rounded-full"
    >
        <IoMdCart size={30} />
    </span>
</div>
