---
const { name, desc, price } = Astro.props;
import { IoMdCart } from "react-icons/io";
---

<div class="relative border border-gray-300 p-4 rounded mb-4 h-52">
    <h4 class="text-lg font-bold">{name}</h4>
    <p class="text-gray-600">{desc}</p>
    <p class="text-gray-600">{price}</p>
    <button
        class="absolute bottom-2 rounded right-2 cursor-pointer flex gap-2 px-2 py-1 items-center bg-blue-200 hover:bg-blue-400 text-white"
        >Add to cart <IoMdCart /></button
    >
</div>
