---
import Header from "@/components/Header.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<title>Quimica LM10</title>
		<ClientRouter />
	</head>
	<body class="container max-w-[1200px] mx-auto">
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
